{
    "compiler": "modular",
    "name": "course-layout",
    "version": "0.0.1",
    "dependencies": {},
    "alias": {
    	"iScroll":"src/scripts/iscroll-master/build/",
    	"pull":"src/scripts/pull-to-refresh-master/lib/"
    },
    "export": [
    	"styles/usage/app.scss",
    	"scripts/app.js"
    ]
}
